@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
font-family: "RalewayRegular"; 
// адрес шрифта и тип 
src: url("../fonts/RalewayRegular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 